 *{
  padding: 0;
  margin: 0;
 }

  body{
    background-color: green;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todoName,  .dueDate, .addTodo {
    width:200px;
    padding: 10px;
  }

  .addTodo {
    width: 100%;
    height: 42px;
    padding: 12px;
    border-style: none;
    background-color: rgb(95, 226, 43);
  }

  .container > input {
    padding-right: 0px;
    min-width: 97%;
    align-self: center;
  }

  .todoList > button{
    align-self: flex-start;
    max-width: 100%;
    height: 42px;
    padding: 12px;
    border-style: none;
    background-color:darkred;
    color: white;
   
  }

  .todoList :first-child {
    word-wrap: break-word;
    text-align: justify;

  }

  .todoList :nth-child(2){
    align-self: start;
   
  }

  .todoList > button{
    align-self: flex-end;
  }




/*layout*/

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  min-width: 40%;
}
.showTodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
  margin: 0.7rem 5%;
}











/*for mobile*/

@media (max-width: 600px) {
  .todoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: 90%;
    margin: 10%;
  }

  .todoList > button{
    align-self: flex-end;
   
    height: 42px;
    padding: 12px;
    border-style: none;
    background-color:darkred;
    color: white;
   
  }

  .todoList > :nth-child(2){
    align-self: flex-end;
    
    
  }

  .todoList > :nth-child(1){
   
   
    
    
  }




}
